{% extends "base.html" %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
            Formulario predicción de precios de casas
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Predecir</button>
            </form>
        </div>
    </div>
    {% if resultado %}
        <div class="card mt-3">
            <div class="card-header">
                Predicción
            </div>
            <div class="card-body">
                <p>El precio predicho es: <b>${{resultado}}</b></p>
            </div>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger mt-3">
            <strong>Error:</strong> {{error}}
        </div>
    {% endif %}
{% endblock contenido %}
